:root {
  --color-green: #64d370;
  --color-dark-green: #3d9646;
  --color-black: #020202;
  --color-dark-gray: #a0abb6;
  --color-light-gray: #f5faff;
  --color-gray: #dee6ee;
  --color-red: #f87676;
  --shadow-black: 0px 0px 40px 0px #5656564d;
  --opacity-black: rgba(2, 2, 2, 0.4);
}
