@use 'styles/_breakpoint.mixins' as *;

.root {
  --header-offset-x: 40px;

  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1;


  .header {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 16px var(--header-offset-x) 16px calc(124px + var(--header-offset-x));
    width: 100%;
    max-width: 1180px;
    background: var(--color-light-gray);
    box-shadow: var(--shadow-black);
    border-radius: 190px;
  }

  .logo {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 124px;
    color: var(--color-black);
    background: var(--color-light-gray);
    box-shadow: var(--shadow-black);
    border-radius: 50%;
  }

  .links {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
