.root {
  --padding: 16px 30px;
  --min-width: 298px;
  --border: 3px solid var(--color-green);
  --color: var(--color-green);
  --background: transparent;
  --radius: 12px;
  --width: fit-content;
  --height: fit-content;

  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  min-width: var(--min-width);
  border-radius: var(--radius);
  border: var(--border);
  outline: none;
  color: var(--color);
  background-color: var(--background);
  transition: all 0.2s ease;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }

  &:not(.icon).fullWidth {
    width: 100%;
  }

  &:is(.primary, .secondary) {
    &.sm {
      --padding: 6px 14px;
      --min-width: 108px;
    }
  }

  &.primary {
    --background: var(--color-green);
    --color: var(--color-light-gray);

    &:not(:disabled) {
      &:hover {
        --background: transparent;
        --color: var(--color-green);
      }

      &:active {
        --border: 3px solid var(--color-dark-green);
        --color: var(--color-dark-green);
      }
    }

    &:disabled {
      --border: 3px solid var(--color-dark-gray);
      --background: var(--color-dark-gray);
    }
  }

  &.secondary,
  &.icon {
    &:not(:disabled) {
      &:hover {
        --background: var(--color-green);
        --color: var(--color-light-gray);
      }

      &:active {
        --border: 3px solid var(--color-dark-green);
        --background: var(--color-dark-green);
      }
    }

    &:disabled {
      --border: 3px solid var(--color-dark-gray);
      --color: var(--color-dark-gray);
    }
  }

  &.icon {
    --padding: 0;
    --min-width: unset;
    --radius: 50%;
    --width: 36px;
    --height: 36px;

    &.sm {
      --width: 24px;
      --height: 24px;
    }
  }

  &.text {
    --border: none;
    --color: var(--color-black);
    --background: transparent;
    --padding: 0;
    --min-width: unset;

    &:not(:disabled) {
      &:hover {
        --color: var(--color-green);
      }

      &:active {
        --color: var(--color-dark-green);
      }
    }

    &:disabled {
      --color: var(--color-dark-gray);
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
