.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .title {
    margin-top: 8px;
  }

  .text {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .date {
    color: var(--color-dark-gray);
  }

  .footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
