.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--color-gray);
  border-radius: 50%;
  padding-right: 2px;
  margin-bottom: 2px;
}
