.root {
  --size: 44px;
  --color: var(--color-green);

  width: var(--size);
  height: var(--size);
  border: 2px solid var(--color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.sm {
    --size: 36px;
  }

  &.secondary {
    --color: var(--color-dark-gray);
  }

  &.center {
    margin: 0 auto;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
