$breakpoint-mobile: 480px;
$breakpoint-tablet: 1279px;
$breakpoint-laptop: 1280px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-laptop) {
    @content;
  }
}
