.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;

  .buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }
}
