.root {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 124px;
  color: var(--color-black);
  background: var(--color-light-gray);
  box-shadow: var(--shadow-black);
  border-radius: 50%;
}
